<p id="notice"><%= notice %></p>


    <p>Event title :</p>
    <h1><%= @event.title.titleize %></h1>

    <p>Created by :</p>
    <h5>
      <%= @event.creator.name %>
    </h5>
    <p>Date :</p>
    <h5><%= @event.date.strftime("%d %b, %Y at %l:%M %p") %></h5> 

 <p>Location :</p>
    <h5><%= @event.location %></h5>

        <h2>Description</h2>
        <p><%= @event.description %></p>
      
   <% events.each do |event|  %>
    <h5><%= @event.users %></h5>
      <% end %>